@page
@model STMWeb.Pages.Modules.CreateModel
@{
    ViewData["Title"] = "STUDENT TIME MANAGER";
}

@if(Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<br>
<h1>&#x1F5A5;</h1>
<h2>New Module</h2>

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">SEMESTER #</label> 
        <div class="col-sm-6">
            <select name="semesterID" class="form-select" asp-items="Model.model.SemesterSelectList">
                <option value="Select A Day">Select A Semester Number</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">CODE</label> 
        <div class="col-sm-6">
            <input type="text" class="form-control" name="code" value="@Model.module.Code" >
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">NAME</label> 
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.module.Name" >
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">CREDITS</label> 
        <div class="col-sm-6">
            <input type="number" class="form-control" name="credits" value="@Model.module.Credits" >
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">CLASS HOURS PER WEEK</label> 
        <div class="col-sm-6">
            <input type="number" class="form-control" name="hours" value="@Model.module.ClassHoursPerWeek" >
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">STUDY DAY</label> 
        <div class="col-sm-6">            
            <select name="reminder" class="form-select" >
                <option value="Select A Day">Select A Day Of The Week</option>
                <option value="SUNDAY">SUNDAY</option>
                <option value="SATURADAY">SATURADAY</option>
                <option value="FRIDAY">FRIDAY</option>
                <option value="THURSDAY">THURSDAY</option>
                <option value="WEDNESDAY">WEDNESDAY</option>
                <option value="TUESDAY">TUESDAY</option>
                <option value="MONDAY">MONDAY</option>
            </select>
        </div>
    </div>

    @if(Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div> 
            </div>
        </div>
    }

    <div class="row mb-3"> 
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
                                                                                                                